.job-list {
  margin: 10px auto;
  padding: 0;
  width: 80%;
}

.job-item {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.job-title {
  color: black;
  font-size: 24px;
  margin: 0;
}

.job-description {
  margin: 10px 0;
  /* max-height: 100px; */
  overflow: hidden;
}

.job-link a {
  color: blue;
}

.button-container {
  display: flex;
  justify-content: center;
}

.delete-job,
.edit-job {
  background-color: black; /* Change background color to black */
  color: white; /* Change text color to white */
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 5px; /* Adjust margin */
  width: 10%;
  justify-content: center;
}

