.modalBackground {
  position: fixed;
}

.modalContainer {
  height: 80vh;
  width: auto;
}

.titleCloseBtn{
  height: 10vh;
  width: 10vh;
  align-self: self-end;
}

.title{
  text-align: center;
  margin-top: 10px;
}

.modalContainer .body{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 50vh;
}

.modalContainer .form-group{
  flex: 1;
  height: 20vh;
  margin-top: 10px;
  align-items: center;
}

