.footer {
  color: #f6f1f1;
  background-color: #1a202c;
  padding: 10px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.social-link {
  font-size: 24px;
  margin: 0 10px;
  margin-right: 1.5rem;
  color: #f6f1f1;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.social-link:hover {
  transform: scale(1.2);
}

.footer-text {
  margin-top: 1rem;
  font-size: 14px;
  opacity: 0.7;
}
